*{
    font-family: sans-serif;
}

body{
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
}

.container{
    height: 400px;
    background-color: #add8e8;
    border-radius: 30px;
}

.header{
    height: 50px;
    align-items: center;
    background-color: rgba(51,54,97,1);
    margin-top: 20px;
    border-radius: 30px 30px 0 0;
}

h1 {
    background-color: #FFFFFF ;
    margin: 20px;
    font-size: x-large;
    padding: 20px;
    border-radius: 5px;
}

section{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

input {
    width: 40%;
}

#result {
    color: white;
    font-weight: bold;
    background-color: #ff00ff;
    width: 180px;
    margin-left: 3%;
}
